<!DOCTYPE html>
<!doctype html>
<html>
  <head>
    <title>Nagios</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/epoch.0.5.2.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.v1.3.2.min.js"></script>
    <script src="/javascripts/d3.v3.min.js"></script>
    <script src="/javascripts/epoch.0.5.2.min.js"></script>
    <script src="/javascripts/chart.js"></script>
  </head>
  <body>
      {{{body}}}
    <a href="/" class="btn btn-default" role="button">Home</a>
  </body>
</html>
