body {
  padding: 50px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blacktron{
    background-color:#000000;
    color:white;
    padding: 40px;
    float: left;
    width: 100%;
}

.blackwhite {
  background-color:#000000;
  color:white;
  font-size:40px;
  width: 400px;
  height: 27px;
  padding: 30px;
}
  
.bluebutton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e409c), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e409c, #65a9d7);
   background: -moz-linear-gradient(top, #3e409c, #65a9d7);
   background: -ms-linear-gradient(top, #3e409c, #65a9d7);
   background: -o-linear-gradient(top, #3e409c, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #eaf2ef;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: -3px -5px;
   display: table-cell;
}

.bq3 { width: 400px; background: url('/images/leftquote.png') top left no-repeat; padding-left: 55px; line-height: 18px; color: #575757; }
.bq3 p { padding-right: 35px; line-height: 28px; background: url('/images/rightquote.png') bottom right no-repeat; padding-bottom: 15px; color: #333; font-size: 23px; }

.centerpic {
  display:block;
  padding:10px;
  border: 5px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.console {
  background-color:#000000;
  color:#7fff00;
  padding: 10px;
  width:800px;
}

.console-dir {
  color:#7f00ff;
}

.console-local {
  color:#89cff0;
}

.colorclass {
  background-color:#808080;
}

.highlight {
  background-color: #000066;
  color: yellow;
  padding: 5px 21px;
  line-height: 2.0;
  border-radius: 50px;
  margin-top:20px;
  margin-bottom:20px;
}

.jumtron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.wordholder {
  width: 700px;
  font-size: 18px;
}

ul#example5 {
   margin: 1.5em; 
}
ul#example5 li {
   list-style-image: url(/images/uncheck.gif);
   border-bottom: 1px solid #ccc;
   padding: .2em 0 .2em .5em;
   font-weight: bold;
   color: #666; 
}
ul#example5 li:hover {
   cursor: pointer;
   list-style-image: url(/images/check.gif);
   background-color: #f2f2f2;
   color: #000; 
}
   
